Source: dualsub
Section: video
Priority: optional
Maintainer: Boni Garcia <boni.gg@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://bonigarcia.github.io/dualsub/
Vcs-Git: https://github.com/bonigarcia/dualsub.git
Vcs-Browser: https://github.com/bonigarcia/dualsub

Package: dualsub
Architecture: all
Depends: ${misc:Depends}, default-jre-headless | java6-runtime-headless
Description: merge two SRT subtitles into a single file
 DualSub is a tool which allows you to merge two SRT subtitles
 into a single file. The idea of using merged subtitles is to
 watch movies/series in original version with two sets of subtitles.
 This can be used to learn a second language while watching movies/series.