[Desktop Entry]
Encoding=UTF-8
Name=DualSub
Comment=SRT subtitles merger
TryExec=/usr/bin/dualsub
Exec=dualsub
Icon=dualsub
Terminal=false
Type=Application
Categories=GNOME;Application;
StartupNotify=true
